.navigation-wrapper{
  display: flex;
  .nav-item{
    cursor: pointer;
    color: #357DED;;
    padding: 10px;
    border-radius: 4px;
    min-width: 100px;
    text-align: center;
    &.selected, &:hover{
      font-weight: 800;
      background-color: #EDEFF2;
    }
  }
}

.image-collection-wrapper{
  .image-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .image-wrapper{
      width: 30%;
      max-width: 30%;
      height: auto;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}